<div class="notice alert-info h4"><%= flash[:notice] %></div>
<div class="text-center row-color">
<h1>About</h1>
<div>このサイトは自分の好きなラーメンをレビューすることができ、</div>
<div>他の人が投稿したレビューを閲覧できるサイトです。</div>
<div>ぜひ投稿してみて下さい。</div>
</div>
<div style="text-align: center"><%= image_tag 'ramenabout.jpg'%></div>