<h1>トップページ</h1>
<h3>日本全国のラーメンを知ることができるレビューサイト</h3>

<div class="container">
  <div class="row">
  <div class="col-md-11">
  <h3 style="margin: 20px 0;">新着レビュー</h3>
  <div class="row">
  <% @review.each do |review| %>
   <div class="col-md-3 ">
    <div class="w-95 h-95 shadow">
     <%= link_to review_path(review) do %>
      <%= image_tag review.image,class:"img-fluid d-block mx-auto" %>
      <div><%= review.name %></div>
     <% end %>
    </div>
   </div>
  <% end %>
</div>
</div>
</div>
</div>

<div class="text-right">
<%= link_to "全ての商品を見る> ", reviews_path %>
</div>
</div>