<div class="container-fluid" style="padding-bottom: 100px;">
<footer>
  <div class="fixed-bottom">
    <div class="text-center p-3" style="background-color:#fff7ef;">
      Copyright © 2023 RamenReviewBox. All Right Reserved.
    </div>
  </div>
</footer>
</div>
